include *.txt *.ini *.cfg *.rst

include CHANGELOG
include TODO
include README
include INSTALL
include MANIFEST.in
include LICENSE
recursive-include alembic *
recursive-include docs *
recursive-include tests *

prune docs/build
prune docs/source/generated
