include *.txt *.ini *.cfg *.rst *.py

include CHANGELOG
include TODO
include README
include INSTALL
include MANIFEST.in
include LICENSE
include timecode.py
recursive-include docs *
recursive-include tests *

prune docs/build
prune docs/source/generated
